<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/PersonalProfile.css" />

<div class="center-card">
    <h2>Profile</h2>
    <div class="profile-content">
        <img src="img.jpg" alt="John" />
        <h1>Name:</h1>
        <p>Email:</p>
        <p>Phone Number:</p>
        <div class="social-links">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <button>Contact</button>
    </div>
</div>
