/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Times New Roman', sans-serif;
    color: #333;
    background-color: #999;
}


/* Styles for top bar Tài khoản */
.top-bar {
    background-color: #060606; /* Màu nền của thanh liên hệ */
    color: #fff; /* Màu chữ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

/* Định dạng chung cho các biểu tượng */
.facebook-icon, .twitter-icon, .youtube-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    font-size: 1px;
    color: white;
}
/* Tô màu sẵn và viền cho từng biểu tượng */
.facebook-icon {
    background-color: #3b5998;
    border-color: #3b5998;
}

.twitter-icon {
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.youtube-icon {
    background-color: #ff0000;
    border-color: #ff0000;
}


.top-bar-left i {
    margin-right: 5px;
}

.top-bar-right {
    display: flex;
    align-items: center;
}

    .top-bar-right a {
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
        transition: color 0.3s ease;
    }

        .top-bar-right a i {
            margin-right: 5px;
        }

        .top-bar-right a:hover {
            color: #f0c14b;
        }

    .top-bar-right i {
        margin-left: 10px;
        color: #fff;
        font-size: 16px;
    }
/*Thanh trên tài khoản*/

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 9999;
    color: #fff;
    /*transition: all 0.3s ease;*/
}

.navbar-dropdown:hover {
    border-radius: 5px;
}

.dropdown {
    background-color: rgba(255, 255, 255, 0.95);
}

.logo-container {
    display: flex;
    align-items: center;
}

    /* Logo styles */
    .logo-container img {
        width: 90px;
        height: 80px;
    }
/*In Header*/
nav ul {
    display: flex;
    list-style-type: none;
    flex: 1;
    text-align: right;
    justify-content: space-around;
}

nav li { /**/
    font-size: 22px;
    margin-left: 20px;
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 8px, 12px;
}

nav a {
    color: #f6f4f4;
    text-decoration: none;
    font-size: smaller;
    text-transform: capitalize;
    margin-right: 50px;
    padding: 5px;
    transition: color 0.3s ease;
}

    nav a:hover {
        /*background: #ffffff;*/
        color: #ee259e;
        transition: background 0.3s ease;
        border-radius: 5px;
        /*box-shadow: 0 5px 10px rgba(0,0,0,0.2);*/
        cursor: pointer;
        z-index: 100;
        background-clip: padding-box;
        background-origin: border-box;
        background-size: 100% 100%;
    }

.logo-container h3 {
    display: flex;
    color: #f3efef;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 12px;
}
/* Dropdown menu styles */
.navbar-dropdown {
    position: relative;
}

.dropdown-toggler {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

    .dropdown-toggler i {
        margin-left: 5px;
        transition: transform 0.3s ease;
    }

    .dropdown-toggler:hover i {
        transform: rotate(180deg);
    }
/* Dropdown menu styles trong Header */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap; /* Đảm bảo chữ không bị xuống dòng */
}

/* Hiển thị menu khi hover */
.navbar-dropdown:hover .dropdown {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown li {
    display: block; /* Hiển thị các mục theo chiều dọc */
    padding: 5px 40px;
    position: relative;
    overflow: hidden; /* Đảm bảo mục không tràn ra ngoài khi di chuyển */
    background-color: #ffffff00;
    transition: width 0.4s ease; /* Hiệu ứng mở rộng ô */
    width: 100%; /* Chiều rộng ban đầu của ô phủ hết nội dung */
    max-width: 350px;
}

    .dropdown li:hover {
        max-width: 450px;
    }

    .dropdown li a {
        color: #333;
        text-decoration: none;
        padding-left: 0px; /* Không khoảng cách giữa chữ và lề trái */
        position: relative;
        display: inline-block;
        transition: transform 0.4s ease, color 0.4s ease; /* Tạo hiệu ứng di chuyển và đổi màu mượt mà khi hover */
        width: 100%; /* Đảm bảo chiều rộng phủ hết ô */
    }

        /* Thêm dấu gạch ngang vào trước nội dung */
        /*.dropdown li a::before {*/
        /* content: '___'; /* Dấu gạch ngang */
        /*position: absolute;
  left: 0; /* Đặt dấu gạch sát hẳn về lề trái */
        /*top: 50%;
  transform: translateY(-50%);
  color: #999;
  opacity: 0; /* Ẩn dấu gạch */
        /*transition: transform 0.4s ease, color 0.4s ease, opacity 0.4s ease; /* Dấu gạch di chuyển mượt mà theo chữ */
        /*}  */

        .dropdown li a:hover::before {
            color: #000; /* Đổi màu dấu gạch khi hover */
            opacity: 1; /* Hiển thị dấu gạch khi hover */
        }

        .dropdown li a:hover {
            transform: translateX(20px);
            color: #000; /* Đổi màu chữ khi hover */
        }

            /* Chữ và dấu gạch cùng di chuyển */
            .dropdown li a:hover::before {
                transform: translateX(20px) translateY(-50%);
            }

/* Separator for dropdown items */
.separator {
    height: 1px;
    background-color: #ddd;
    margin: 5px 0;
}

.menu-toggle {
    display: none; /* Ẩn nút menu trên desktop */
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
/* Responsive styles */
@media (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    /* Ẩn menu */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 90px;
        background-color: #060707;
        width: 100%;
        text-align: left;
        padding: 50px;
    }

        nav ul.show {
            display: flex;
        }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav a {
        padding: 10px 0;
    }
}





/*Phần thân làm ở đây nha*/





/* Phần Footer */
.features {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 50px 40px;
    color: #e7e2e2;
    flex-wrap: wrap;
}

/* Phần công ty */
.featurecard {
    max-width: 450px;
    text-align: left;
    margin-right: 5px;
}

    .featurecard img { /*Chỉnh vị trí ảnh-Footer*/
        width: 40%;
        display: block;
        margin-left: 15%; /*Canh vị tri ảnh*/
        width: 150px;
    }

    .featurecard p {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.6; /* Giúp tăng khoảng cách giữa các dòng */
    }

/* Phần Chính sách dịch vụ và Dịch vụ */
.policy-section {
    max-width: 300px;
    text-align: left;
    padding: 0 10px;
    margin-right: 20px;
}

    .policy-section h2 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 40px;
        text-align: left;
    }

.policy-list {
    list-style-type: none;
    padding: 0;
}

    .policy-list li {
        font-size: 18px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

        .policy-list li i {
            color: #f1c40f;
            margin-right: 10px;
        }

/* Dịch Vụ Links */
.services-list a {
    display: block;
    font-size: 18px;
    color: #f3eaea;
    margin-bottom: 20px;
    text-decoration: none;
    transition: padding-left 0.3s ease, color 0.3s ease;
}

    .services-list a:hover {
        padding-left: 10px;
        color: #f1c40f;
    }

/* Phần sản phẩm */
.product-section {
    text-align: center;
    max-width: 300px;
    margin-right: 20px; /* Khoảng cách giữa phần sản phẩm và các phần bên cạnh */
}

    .product-section h2 {
        font-size: 20px;
        color: #f8f7f4;
        margin-bottom: 20px;
    }

.product-slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.product-images {
    display: flex;
    flex-direction: column;
    animation: slideUp 20s infinite linear;
}

    .product-images img {
        width: 100%;
        margin: 10px 0;
        border-radius: 10px;
    }

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* Phần Liên hệ báo giá */
.contact-section {
    max-width: 300px;
    text-align: left;
    margin-left: 20px; /* Tạo khoảng cách giữa phần liên hệ và các phần khác */
}

    .contact-section h2 {
        font-size: 20px;
        color: #fffffe;
        margin-bottom: 20px;
        text-align: left;
    }

    .contact-section .hotline {
        display: block;
        font-size: 18px;
        color: #e7e2e2;
        background-color: #000;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin: 20px 0;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .contact-section .hotline:hover {
            background-color: #f1c40f;
            color: #000;
        }

    .contact-section p {
        font-size: 20px;
        text-decoration: none;
        color: #020202;
        border: 3px solid #d8f74e;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #d8f74e;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .contact-section p:hover {
            background-color: #c7e05a;
        }



/* Footer ở cuối màu xám */
footer {
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #6d6b66;
    color: #b6b1b1;
    font-size: 15px;
}
.text-danger {
    color: #ff0000; /* Màu đỏ */
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.validation-summary-errors {
    color: #ff0000; /* Màu đỏ */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    background-color: #fff5f5;
}

.form-group {
    margin-bottom: 15px;
}