<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt thi công hồ cá Koi</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/c781fd97e2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/images/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/blog.css">
    <script defer src="~/js/blog.js"></script>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <i class="fa fa-phone"></i> 0902 520 536
        </div>
        <div class="top-bar-right">

            <a href="#"><i class="fa fa-file-text-o"></i> Điều khoản chính sách</a> |
            <a href="#"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="PersonalProfile" asp-action="Index" style="cursor: pointer"><i class="fa-solid fa-user"></i>@User.Identity.Name</a>
                <a asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>

            }
            else
            {
                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng Nhập</a>
                <a asp-controller="Account" asp-action="Create"><i class="fa fa-user-plus"></i> Đăng Ký</a>
            }
            <a href="#"><i class="fab fa-facebook facebook-icon"></i></a>
            <a href="#"><i class="fab fa-twitter twitter-icon"></i></a>
            <a href="#"><i class="fab fa-youtube youtube-icon"></i></a>

        </div>
    </div>
    <header>
        <div class="logo-container">
            <img src="~/images/Logo.png" alt="Logo">
            <button class="menu-toggle" aria-label="Toggle menu">☰</button>
        </div>
        <nav>
            <ul>
                <b>
                <li><a onclick="location.href='@Url.Action("Index", "Home")'">Trang Chủ</a></li>
                <li><a asp-action="GioiThieu" asp-controller="Home">Giới Thiệu</a></li>
                <li><a asp-action="DuAn" asp-controller="Home">Dự Án</a></li>
                <!-- Dropdown for Dịch vụ -->
                <li class="navbar-dropdown">
                    <a asp-action="DichVu" asp-controller="Home" class="dropdown-toggler">Dịch vụ<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a asp-action="DichVu" asp-controller="Home">Thiết kế và thi công hồ cá KOI</a></li>
                    </ul>
                </li>
                <!-- Dropdown for Báo Giá -->
                <li class="navbar-dropdown">
                    <a asp-action="BaoGia" asp-controller="Home" class="dropdown-toggler">Báo Giá<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a asp-action="BaoGia" asp-controller="Home">Báo giá thiết kế hồ cá KOI</a></li>
                    </ul>
                </li>
                <li><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                <li><a asp-action="LienHe" asp-controller="Home">Liên Hệ</a></li>
                </b>
            </ul>
        </nav>
    </header>







    <!-- Phần header với hình ảnh lớn -->
    <section class="blog">
        <div class="blog-overlay">
            <h1>BLOG</h1>
            <p><a onclick="location.href='@Url.Action("Index", "Home")'" style="color: #fff; text-decoration: none;">Trang Chủ</a> >> Blog</p>
        </div>
    </section>

    <main>
        <!-- Phần Bài Viết -->
        <section class="articles">
            <div class="article-card">
                <a asp-action="Baroque" asp-controller="Home" target="_blank">
                    <img src="~/images/H21.jpg" alt="Kiến trúc Baroque" />
                    <h3>Kiến trúc Baroque là gì? Đặc trưng & các công trình nổi bật</h3>
                    <p>10/10/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Nganhthietke" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H22.jpg" alt="Ngành thiết kế nội thất" />
                <h3>Ngành thiết kế nội thất học gì & làm gì? Học ở đâu?</h3>
                <p>22/08/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Nganhkientruc" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H23.jpg" alt="Ngành kiến trúc" />
                <h3>Ngành kiến trúc là gì? Học ở đâu? Ra trường làm gì?</h3>
                <p>08/08/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Nhachoi" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H24.jpg" alt="Những ý tưởng nhà vườn" />
                <h3>Những ý tưởng nhà chòi là tuyệt đẹp cho sân vườn</h3>
                <p>13/7/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Cafe" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H25.jpg" alt="Mẫu quan cafe" />
                <h3>Khám phá top những quán cafe đẹp tại Sài Gòn</h3>
                <p>30/04/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Vuon" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H26.jpg" alt="Mẫu nhà gỗ sân vườn" />
                <h3>33+ mẫu nhà gỗ sân vườn đẹp ấn tượng nhất 2024</h3>
                <p>10/03/2024</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Thongtin" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H27.jpg" alt="Thông tin kiến trúc" />
                <h3>Những thông tin kiến trúc bạn cần phải biết</h3>
                <p>11/11/2023</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Koicafe" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H28.jpg" alt="Mẫu cafe cá Koi" />
                <h3>Top 3 quán cafe cá Koi đẹp ở Thủ Dầu Một</h3>
                <p>30/09/2023</p>
                </a>
            </div>
            <div class="article-card">
                <a asp-action="Cayxanh" asp-controller="Home" target="_blank"></a>
                <img src="~/images/H29.jpg" alt="Chăm sóc cây cảnh" />
                <h3>Hướng dẫn cách chăm sóc cây cảnh luôn tươi xanh</h3>
                <p>15/01/2023</p>
                </a>
            </div>
        </section>
    </main>

    <!--                HẾT                -->
    <!-- Footer Section -->
    <section class="features">
        <!-- Phần công ty -->
        <div class="featurecard">
            <img src="~/images/Logo.png" alt="Company Logo">
            <h3>CTY KIẾN TRÚC CẢNH QUAN</h3>
            <br>
            <p><i class="fas fa-map-marker-alt"></i> Studio: 439 Kha Vạn Cân, Hiệp Bình Chánh, TP.Thủ Đức</p>
            <p><i class="fas fa-building"></i> Văn phòng: 32 Bác Ái, Bình Thọ, TP. Thủ Đức</p>
            <p><i class="fas fa-industry"></i> Xưởng: 255 Võ Văn Ngân, Linh Chiểu, TP. Thủ Đức</p>
            <p><i class="fas fa-phone-alt"></i> Điện thoại: 0902 520 536</p>
            <p><i class="fas fa-fax"></i> Số Fax: 0968 8947</p>
            <p><i class="fas fa-envelope"></i> Email: info@kdc.com</p>
            <p><i class="fas fa-id-badge"></i> Mã số doanh nghiệp: 0421586682 cấp (30/10/2024)</p>
        </div>

        <!-- Phần Chính sách dịch vụ -->
        <div class="policy-section">
            <h2>CHÍNH SÁCH DỊCH VỤ</h2>
            <ul class="policy-list">
                <li><i class="fas fa-check-circle"></i> Vệ sinh</li>
                <li><i class="fas fa-check-circle"></i> Chăm sóc định kỳ</li>
                <li><i class="fas fa-check-circle"></i> Bảo dưỡng</li>
            </ul>
            <br>
            <!-- Phần Dịch vụ -->
            <h2>DỊCH VỤ</h2>
            <div class="services-list">
                <a asp-action="DichVu" asp-controller="Home">▶ Thiết kế & thi công hồ cá KOI</a>
            </div>
        </div>

        <!-- Phần sản phẩm -->
        <div class="product-section">
            <h2>SẢN PHẨM</h2>
            <div class="product-slider">
                <div class="product-images">
                    <img src="~/images/KOI_1.png" alt="Sản phẩm 1">
                    <img src="~/images/KOI_2.png" alt="Sản phẩm 2">
                    <img src="~/images/KOI_3.png" alt="Sản phẩm 3">
                    <img src="~/images/KOI_4.png" alt="Sản phẩm 4">
                    <img src="~/images/KOI_5.png" alt="Sản phẩm 5">
                </div>
            </div>
        </div>
        <!-- Phần Liên hệ báo giá -->
        <div class="contact-section">
            <h2>LIÊN HỆ BÁO GIÁ</h2>
            <a class="hotline" href="#">HOTLINE: 0978 855 597</a>
            <p><b>Gửi yêu cầu báo giá</b></p>
        </div>
    </section>

    <footer>
        <pre>CNPM Vietnam 2024  All Rights Reserved.                                                        Điều khoản sử dụng | Chính sách bảo mật | Chính sách và quy định chung</pre>
    </footer>
    <!--await RenderSectionAsync("Scripts", required: false);-->
</body>
</html>  